@model IEnumerable<MVC.Models.UserModel>;
@using MVC.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserContact)
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserContact)
                </td>
                <td>
                    <form method="post" asp-controller="Home" asp-action="Privacy" asp-route-id="@item.UserId">
                        <button type="submit">Edit</button>
                    </form>
                </td>
                <td>
                    <form method="post" asp-controller="Home" asp-action="Delete" asp-route-id="@item.UserId">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>